<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Seguridad | Morelos</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/bootstrap-flex.min.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/prettyPhoto.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/ico/user.png">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
<header id="header" role="banner">
<div class="container">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#services">Información</a></li>
                        <li><a href="#portfolio">Servicios</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Centros de Seguridad</h1>
                        <p class="lead">Policia Municipal o Regional, Transito, Centros de Información, Policia Estatal<br>Y Policia Federal.</p>
                    </div>
                </div>
            </div><!--/.item-->


            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Servicios de Salud</h1>
                        <p class="lead">Hospitales (Publicos o Privados), Cruz Roja, Centros de Salud<br>Y Campañas de Salubridad.</p>
                    </div>
                </div>
            </div><!--/.item-->


            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Centros de Información</h1>
                        <p class="lead">Institutciones de Gubernamentales, Derechos Humanos, Centros de Visita Guiada<br>Y Centros turisticos</p>
                    </div>
                </div>
            </div><!--/.item-->





        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="images/portfolio/shield.png" alt="">
                            <h4>Policia</h4>
                            <p>Policia o Emergencias  080 y 060<br>Seguridad Pública  317-3266<br>Policia Judicial  329-1500<br>Policia Federal de  Caminos  312-3536<br>Protección Civil Mun.  312-1274<br>Protección Civil Est.  312-4942</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="images/portfolio/doctor.png" alt="">
                            <h4>Hospitales</h4>
                            <p>Urgencias  315-5000<br>I.S.S.S.T.E. Hospital  314-1900<br>Hospital General  311-2209<br>Hospital del Niño  Morelense  311-7332<br>Hospital Cuernavaca  311-2482<br>Hospital Heri Dunant  316-0489  </p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="images/portfolio/girl.png" alt="">
                            <h4>Derechoas Humanos</h4>
                            <p>Protección Civil Mun.  312-1274<br>Protección Civil Est.  312-4942<br>Comisión Estatal de  Derechos Humanos  312-6675<br>PROFECO  311-5200</p>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="images/portfolio/car.png" alt="">
                            <h4>Transito</h4>
                            <p>Accidentes de Tránsito  316-1166<br>Ministerio Público del  Estado  329-1500</p>
                        </div>
                    </div><!--/.col-md-4-->


                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <img src="images/portfolio/shopping-cart.png" alt="">
                            <h4>Otros Servicos</h4>
                            <p>PROFECO  311-5200<br>C.F.E.  318-6852  329-4199<br>Fugas de Gas  312-1929<br>Fugas de Agua  312-8428<br>Antirrábico 000-000-000<br>Acopio Animal  312-2837</p>
                        </div>
                    </div><!--/.col-md-4-->


                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                           <img src="images/portfolio/price-tag.png" alt="">
                            <h4>Nuevos Servicios</h4>
                            <p>Darte de alta en una nueva zona !Envia tu Información</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Servicios</h2>
                    <p class="lead">Con la más moderna tecnología y cuyo objetivo principal será propiciar la coordinación de todas las dependencias encargadas de la seguridad así como de prestar los servicios a emergencias ya que este centro albergara las plataformas tecnológicas como lo es la red de telecomunicaciones, la red de radiocomunicación, sistemas de información, así como de servicios de emergencia del Gobierno.</p>
                </div><!--/.center-->
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">Todo</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Hospitales</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".html">Centros de Atención</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Atención y Cuidados</a></li>


                </ul><!--/#portfolio-filter-->
                
                <ul class="portfolio-items col-4">

                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Policia C5 de Morelos" href="images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <h5>Servicios de emergencia del Gobierno</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item2.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Hospitales Generales en Distintas Zonas" href="images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                                </div>
                            </div> 
                            <h5>Mas de 10 mil Hospitales en Morelos</h5>         
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item3.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Hospital General de Morelos" href="images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>        
                                </div> 
                            </div>
                            <h5>Hospital General de Cuernavaca</h5>          
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item4.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Comisión de Derechos Humanos en Morelos" href="images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>          
                                </div>   
                            </div>
                            <h5>Mas de 5 Mil centros de Atención</h5>        
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Centro de justicia de la Mujer" href="images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>Centro De Atención Cuernavaca</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Centro de Atención Cuautla" href="images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>  
                            </div>
                            <h5>Ccentro de Atención</h5>         
                        </div>           
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item5.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Centro de Atención de la Mujer" href="images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                                </div>  
                            </div>
                            <h5>Centro de Atencion Morelos</h5>  
                        </div>       
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item wordpress html">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item6.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Centros de Capacitación en Seguridad" href="images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                                </div>   
                            </div>
                            <h5>Centros de Seguridad y Capacitación de Moreloss</h5>        
                        </div>   
                    </li><!--/.portfolio-item-->

                </ul>  


            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contacto</h1>
                        <p>Información Adicional Así Como Detalles o ínformación Adicional. Visite.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="e-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Mensaje"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Enviar Mensaje</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <h1>Nuestra Dirección</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>Instituto Tecnológico De Cuautla.</strong><br>
                                    Libramiento Cuautla-Oaxaca S/N, Juan Morales, 62745.<br>
                                     Cuautla, Mor.<br>
                                    <abbr title="Phone">Teléfono:</abbr> (01) 735 353 6496
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    @ITCuautla.Oficial<br>
                                    ITC<br>
                                    <abbr title="Phone">Fundación:</abbr> 26 de agosto de 1991
                                </address>
                            </div>
                        </div>
                        <h1>Visita Nuestras Redes Sociales</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                    <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                    <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                    <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                    <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://itcuautla/" title="jhjgh">BroCode</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <img class="pull-right" src=""  title="ITC">
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.isotope.min.js"></script>
    <script src="/public/js/jquery.prettyPhoto.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>