doctype html
html
	head
		title Lockclosed
		meta(charset ="utf-8")
	body
		div(align="center") Bienvenido a aqui 
			form
				label(for = "clave") Ingresa la clave
				br
				input(type="passwword" placeholder="Clave de telegram")
				br
				input(type="submit" value="Enviar")  

		//- nav(class="menu")
		//- 	ul
		//- 		li(id="item1")
		//- 			a(href="#home") Home
		//- 		li(id="item2")
		//- 			a(href="#") Archivos
		//- 		li(id="item3")
		//- 			a(href="#") Aplicaciones
		//- 		li(id="item4")
		//- 			a(href="#") Notícias
		//- 		li(id="item5")
		//- 			a(href="#") Contactos
		




	
		