<!doctype html>

<html lang="es">
	<head>
		<title>Administrador</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="stylesheet" type="text/css" href="css/index_style.css" />
		<link rel="stylesheet" type="text/css" href="css/stilex.css" />
		<script>
		function mostrarOcultarTablas(id){
		mostrado=0;
		elem = document.getElementById(id);
		if(elem.style.display==’block’)mostrado=1;
		elem.style.display=’none’;
		if(mostrado!=1)elem.style.display=’block’;
		}
		</script>



	</head>
	<body background="images/one.jpg">

		<div id="barra-lateral">
			<div id="logo-menu">
				</div>
					<div id="contenedor-logos-primero" class="contenedor-logos">
					<div class="logo">
					</div>
					<li><a class="title-menu" href="admin.html" color="white">Inicio</a></li>
					</div>

		<div class="contenedor-logos">
			<div class="logo">
				</div>
					<li><a class="title-menu" href="#">Mapa</a></li>
				</div>

		<div class="contenedor-logos">
				<div class="logo">
					</div>
					<!--<li><a class="title-menu" href="#">Datos</a></li>-->
					<li><a href="tablas1.php">Datos</a></li><!--href="javascript:mostrarOcultarTablas(‘tabla2’)-->
		</div>
	</div>


		</div>


			
			<table class="egt" align="center">

			  <tr>

			    <th>Latitud</th>

			    <th>Longitud</th>

			    <th>Fecha</th>

			    <th>Hora</th>

			  </tr>

			  <tr>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			  </tr>

			  <tr>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			  </tr>

			  <tr>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			    <td>null</td>

			  </tr>

			</table>

		</div>




		

	</body>

	
	</body>
</html>
